SWITCHBOARD_OWUI_BASE_URL=https://open-webui.tailef995f.ts.net
SWITCHBOARD_OWUI_EMAIL=
SWITCHBOARD_OWUI_PASSWORD=
SWITCHBOARD_WHISPER_URI=tcp://localhost:10300
SWITCHBOARD_PIPER_URI=tcp://localhost:10200
